@font-face {
    font-family: ProtestRiot-Regular;
    src: url('../font/ProtestRiot-Regular.ttf');
}

/* Cart */
.cartPage {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 30px;
}

.cartPage h3 {
    font-family: 'ProtestRiot-Regular';
    font-size: 30px;
    margin-top: 15px;
    text-align: center;
    color: #93441A;
}

.cartPage [class^='product'] {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #e5e7e6;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.cartPage [class^='product'] img {
    height: 100px;
    width: auto;
    margin: 10px;
    border-radius: 10px;
}

.cartPage [class^='product'] p {
    font-family: 'ProtestRiot-Regular';
    font-size: 20px;
    color: #93441A;
    margin-left: 10px;
}

.cartPage [class^='product'] .price {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 20px;
}

/* Cart add and remove quantities */
.cartPage [class^='product'] .price .plus {
    background-color: #DAAB3A;
    border: none;
    padding: 8px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.cartPage [class^='product'] .price .minus {
    background-color: #DAAB3A;
    border: none;
    padding: 8px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.cartPage [class^='product'] .price .minus, .plus:hover {
    cursor: pointer;
}

.cartPage [class^='product'] .price .minus i, .plus i {
    color: black;
}

.cartPage [class^='product'] .price [class^=entryQuantity] {
    height: 2.8vh;
    width: 50px;
    text-align: center;
}

.cartPage [class^='product'] .price [class^=entryQuantity]::-webkit-inner-spin-button,
.cartPage [class^='product'] .price [class^=entryQuantity]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Total price product */
.cartPage [class^='product'] .price .priceTotal {
    font-size: 22px;
    margin-left: 20px;
    margin-top: auto;
    margin-bottom: auto;
}

/* Delete product */
.cartPage [class^='product'] .price .fa-xmark {
    font-size: 25px;
    color: black;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
    margin-right: 10px;
}

.cartPage [class^='product'] .price .fa-xmark:hover {
    cursor: pointer;
}

/* Form user */
.cartPage .summaryCart {
    display: flex;
    flex-direction: row;
}

/* Form contact */
.cartPage .formContact {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    padding: 10px;
    background-color: #e5e7e6;
    border-radius: 10px;
    margin-right: 12px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.cartPage .formContact label {
    font-family: 'ProtestRiot-Regular';
    color: #93441A;
    margin-top: 5px;
    margin-bottom: 5px;
}

.cartPage .formContact input {
    height: 25px;
    width: 300px;
    background-color: white;
    border: none;
    padding-left: 8px;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.cartPage .formContact input:focus {
    background-color: white;
}

/* Order summary */
.cartPage .orderSummary {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-left: 12px;
    padding: 10px;
    background-color: #e5e7e6;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.cartPage .orderSummary .boxDetails {
    display: flex;
    justify-content: space-between;
    display: row;
    margin-top: 8px;
    margin-bottom: 8px;
}

.cartPage .orderSummary hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

.cartPage .orderSummary .cartTitle {
    font-family: 'ProtestRiot-Regular';
    font-size: 20px;
    color: #93441A;
}

.cartPage .orderSummary p {
    font-family: 'ProtestRiot-Regular';
    font-size: 15px;
    color: #93441A;
}

.cartPage .orderSummary .fa-truck, .fa-shop {
    font-size: 25px;
}

.cartPage .orderSummary button {
    text-align: center;
    background-color: #93441A;
    color: white;
    font-family: 'ProtestRiot-Regular';
    font-size: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    border: none;
    border-radius: 80px;
}

.cartPage .orderSummary button:hover {
    cursor: pointer;
}

/* Responsive form */
@media screen and (max-width: 900px) {
    .cartPage [class^='product'] p:not([class^='priceTotal']) {
        display: none;
    }

    .cartPage .summaryCart {
        display: flex;
        flex-direction: column;
    }

    .cartPage .summaryCart .formContact {
        width: auto;
        margin-bottom: 15px;
        margin-left: 0;
        margin-right: 0;
    }

    .cartPage .summaryCart .orderSummary {
        width: auto;
        margin-top: 15px;
        margin-bottom: 15px;
        margin-left: 0;
        margin-right: 0;
    }

    .cartPage .summaryCart .formContact input {
        width: 70vw;
    }
}